aiohttp
asyncio
nextcord
nextcord.py[voice]
pyyaml
pandas
mysql-connector
dateparser
pytz
requests
aiofiles
inspiro
trafilatura
sklearn
nltk
schedule
apscheduler
uwuify
autocorrect
cmudict
contractions
language-tool-python
colour
geopy
Nominatim
haversine
pipeline-ai