aiohttp
asyncio
nextcord
pyyaml
pandas
mysql-connector
dateparser
pytz
requests
aiofiles
inspiro
trafilatura
scikit-learn
nltk
schedule
apscheduler
uwuify
autocorrect
cmudict
contractions
language-tool-python
colour
geopy
Nominatim
haversine
syllapy
openai
googletrans==4.0.0rc1
akinator.py
pyshorteners
moviepy